.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  z-index: 2;
  display: flex;
  width: 100vw;
  height: 10vh;
  left: 0;
  top: 0;
}

.titleFlex {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.buttonsGrid {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.siteTitle {
  font-size: 40px;
  transform: translate(10px, 0px);
}
