.project__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  height: 33vh;
  padding: 20px;
  overflow: hidden;
}
.project__bottom {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
}
