.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  left: 0;
}

.titleFlex {
  width: 42vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonsGrid {
  width: 58vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.siteTitle {
  font-size: 69px;
}
