@charset 'utf-8';
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Dev-Vs Pallet
$Dev-Vs-bg: #191919;
$Dev-Vs-fg: #f8f8f2;
$Dev-Vs-selected: #2D2D2A;
$Dev-Vs-comment: #6272a4;
$Dev-Vs-cyan: #8be9fd;
$Dev-Vs-green: #7CB518;
$Dev-Vs-orange: #ffb86c;
$Dev-Vs-pink: #ff79c6;
$Dev-Vs-purple: #bd93f9;
$Dev-Vs-red: #ff5555;
$Dev-Vs-yellow: #FEEA00;

// Updated Bulma's global variables
$primary: $Dev-Vs-selected;

$link: $Dev-Vs-yellow;
$link-hover: $Dev-Vs-green;
$link-hover-border: lighten($Dev-Vs-yellow, 5%);
$link-focus: darken($Dev-Vs-green, 5%);
$link-focus-border: darken($Dev-Vs-green, 5%);
$link-active: lighten($Dev-Vs-green, 5%);
$link-active-border: lighten($Dev-Vs-green, 5%);

$menu-item-color: $Dev-Vs-fg;
$menu-item-hover-color: $Dev-Vs-fg;
$menu-item-hover-background-color: $Dev-Vs-bg;
$menu-item-active-color: $Dev-Vs-pink;
$menu-item-active-background-color: $link;

$info: $Dev-Vs-cyan;
$success: $Dev-Vs-green;
$warning: $Dev-Vs-yellow;
$danger: $Dev-Vs-red;
$dark: $Dev-Vs-selected;
$grey: $Dev-Vs-bg;

$text: $Dev-Vs-fg;
$text-light: lighten($Dev-Vs-fg, 5%);
$text-strong: darken($Dev-Vs-fg, 5%);

$background: $Dev-Vs-bg;

$green-invert: $Dev-Vs-bg;
$success-invert: $Dev-Vs-bg;

// Updated some of Bulma's component variables
$title-color: $Dev-Vs-fg;
$subtitle-color: $Dev-Vs-fg;
$subtitle-strong-color: darken($Dev-Vs-fg, 5%);

$body-background-color: $Dev-Vs-bg;
$footer-background-color: $Dev-Vs-bg;

$code-background: $Dev-Vs-selected;
$label-color: $Dev-Vs-fg;
$card-color: $Dev-Vs-bg;

@import "../../node_modules/bulma/bulma";
